{% load static %}
{% include 'supermercado/administracion/general/head.html' %}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    {% include 'supermercado/administracion/general/header.html' %}
    <!-- Left side column. contains the logo and sidebar -->
    {% include 'supermercado/administracion/general/menu_izquierdo.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Correo eléctronico
                <small>{{ mensajes }} mensajes</small>
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-3">
                    <a href="{% url 'mailbox_redactar' %}" class="btn btn-primary btn-block margin-bottom">Redactar</a>

                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Referencias</h3>

                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                <li {% if request.session.tipo_mensaje == "todos" %}class="active" {% endif %}><a
                                        href="{% url 'mailbox' %}"><i class="fa fa-envelope-square"></i> Todos
                                    <span class="label label-primary pull-right">{{ mensajes }}</span></a>
                                </li>
                                <li {% if request.session.tipo_mensaje == "dudas" %}class="active" {% endif %}><a
                                        href="{% url 'mail_dudas' %}"><i class="fa fa-inbox"></i> Dudas
                                    <span class="label label-primary pull-right">{{ mensajesProductos_Dudas|length }}</span></a>
                                </li>
                                <li {% if request.session.tipo_mensaje == "sugerencias" %}class="active" {% endif %}><a
                                        href="{% url 'mail_sugerencias' %}"><i class="fa fa-envelope-o"></i> Sugerencias<span
                                        class="label label-primary pull-right">{{ mensajesProductos_Sugerencias|length }}</span></a>
                                </li>
                                <li {% if request.session.tipo_mensaje == "reclamaciones" %}class="active" {% endif %}>
                                    <a href="{% url 'mail_reclamaciones' %}"><i class="fa fa-file-text-o"></i>
                                        Reclamaciones<span
                                                class="label label-primary pull-right">{{ mensajesProductos_Reclamacion|length }}</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ request.session.tipo_mensaje|upper }}</h3>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <div class="mailbox-controls">
                            </div>
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped">
                                    <tbody>
                                    {% if request.session.tipo_mensaje == "Todos" %}
                                        {% if mensajes == 0 %}
                                            <tr>
                                                <td colspan="5"><span class="alert-warning col-lg-12 text-center">No hay mensajes</span>
                                                </td>
                                            </tr>
                                        {% else %}
                                            {% for mensaje in mensajesProductos %}
                                                {% if mensaje.mensaje.tipo_mensaje != "Opinión" %}
                                                    <tr>
                                                        <td><a href="{% url 'mailbox_read' mensaje.id %}"><i
                                                                class="fa fa-eye fa-2x"></i></a>
                                                        </td>
                                                        <td class="mailbox-subject">{{ mensaje.mensaje.tipo_mensaje }}</td>
                                                        <td class="mailbox-name"><a
                                                                href="{% url 'mailbox_read' mensaje.id %}">{{ mensaje.mensaje.cliente }}</a>
                                                        </td>
                                                        <td class="mailbox-subject">{{ mensaje.mensaje.mensaje|truncatechars:20|safe }}
                                                        </td>
                                                        <td class="mailbox-attachment"></td>
                                                        <td class="mailbox-date">{{ mensaje.mensaje.fecha| date:'d/m/Y' }} {{ mensaje.mensaje.fecha|time:"H:i:s" }}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% elif request.session.tipo_mensaje == "dudas" %}
                                        {% if mensajesProductos_Dudas|length == 0 %}
                                            <tr>
                                                <td colspan="5"><span class="alert-warning col-lg-12 text-center">No hay mensajes</span>
                                                </td>
                                            </tr>
                                        {% else %}
                                            {% for mensaje in mensajesProductos_Dudas %}
                                                <tr>
                                                    <td><a href="{% url 'mailbox_read' mensaje.id %}"><i
                                                            class="fa fa-eye fa-2x"></i></a>
                                                    </td>
                                                    <td class="mailbox-name"><a
                                                            href="{% url 'mailbox_read' mensaje.id %}">{{ mensaje.cliente }}</a>
                                                    </td>
                                                    <td class="mailbox-subject">{{ mensaje.mensaje|truncatechars:20|safe }}
                                                    </td>
                                                    <td class="mailbox-attachment"></td>
                                                    <td class="mailbox-date">{{ mensaje.fecha| date:'d/m/Y' }} {{ mensaje.fecha|time:"H:i:s" }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% elif request.session.tipo_mensaje == "sugerencias" %}
                                        {% if mensajesProductos_Sugerencias|length == 0 %}
                                            <tr>
                                                <td colspan="5"><span class="alert-warning col-lg-12 text-center">No hay mensajes</span>
                                                </td>
                                            </tr>
                                        {% else %}
                                            {% for mensaje in mensajesProductos_Sugerencias %}
                                                <tr>
                                                    <td><a href="{% url 'mailbox_read' mensaje.id %}"><i
                                                            class="fa fa-eye fa-2x"></i></a>
                                                    </td>
                                                    <td class="mailbox-name"><a
                                                            href="{% url 'mailbox_read' mensaje.id %}">{{ mensaje.cliente }}</a>
                                                    </td>
                                                    <td class="mailbox-subject">{{ mensaje.mensaje|truncatechars:20|safe }}
                                                    </td>
                                                    <td class="mailbox-attachment"></td>
                                                    <td class="mailbox-date">{{ mensaje.fecha| date:'d/m/Y' }} {{ mensaje.fecha|time:"H:i:s" }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% elif request.session.tipo_mensaje == "reclamaciones" %}
                                        {% if mensajesProductos_Reclamacion|length == 0 %}
                                            <tr>
                                                <td colspan="5"><span class="alert-warning col-lg-12 text-center">No hay mensajes</span>
                                                </td>
                                            </tr>
                                        {% else %}
                                            {% for mensaje in mensajesProductos_Reclamacion %}
                                                <tr>
                                                    <td><a href="{% url 'mailbox_read' mensaje.id %}"><i
                                                            class="fa fa-eye fa-2x"></i></a>
                                                    </td>
                                                    <td class="mailbox-name"><a
                                                            href="{% url 'mailbox_read' mensaje.id %}">{{ mensaje.cliente }}</a>
                                                    </td>
                                                    <td class="mailbox-subject">{{ mensaje.mensaje|truncatechars:20|safe }}
                                                    </td>
                                                    <td class="mailbox-attachment"></td>
                                                    <td class="mailbox-date">{{ mensaje.fecha| date:'d/m/Y' }} {{ mensaje.fecha|time:"H:i:s" }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                    </tbody>
                                </table>
                                <!-- /.table -->
                            </div>
                            <!-- /.mail-box-messages -->
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer no-padding">
                                <!-- /.pull-right -->
                            </div>
                        </div>
                    </div>
                    <!-- /. box -->
                </div>
                <!-- /.col -->

            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% include 'supermercado/administracion/general/footer.html' %}

    <!-- Control Sidebar -->
    {% include 'supermercado/administracion/general/menu_derecho.html' %}
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

{% include 'supermercado/administracion/general/required_js.html' %}
