{% load static %}
{% include 'supermercado/administracion/general/head.html' %}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
    {% include 'supermercado/administracion/general/header.html' %}
    <!-- Left side column. contains the logo and sidebar -->
    {% include 'supermercado/administracion/general/menu_izquierdo.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Email de {{ request.session.tipo_mensaje|upper }}
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Mailbox</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
            <div class="row">
                <div class="col-md-3">
                    <a href="{% url 'mailbox_redactar' %}" class="btn btn-primary btn-block margin-bottom">Redactar</a>

                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Referencias</h3>

                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                <li {% if request.session.tipo_mensaje == "todos" %}class="active" {% endif %}><a
                                        href="{% url 'mailbox' %}"><i class="fa fa-envelope-square"></i> Todos
                                    <span class="label label-primary pull-right">{{mensajes }}</span></a>
                                </li>
                                <li {% if request.session.tipo_mensaje == "duda" %}class="active" {% endif %}><a
                                        href="{% url 'mail_dudas' %}"><i class="fa fa-inbox"></i> Dudas
                                    <span class="label label-primary pull-right">{{ mensajesProductos_Dudas|length }}</span></a>
                                </li>
                                <li {% if request.session.tipo_mensaje == "sugerencia" %}class="active" {% endif %}><a
                                        href="{% url 'mail_sugerencias' %}"><i class="fa fa-envelope-o"></i> Sugerencias<span
                                        class="label label-primary pull-right">{{ mensajesProductos_Sugerencias|length }}</span></a>
                                </li>
                                <li {% if request.session.tipo_mensaje == "reclamacion" %}class="active" {% endif %}>
                                    <a href="{% url 'mail_reclamaciones' %}"><i class="fa fa-file-text-o"></i>
                                        Reclamaciones<span
                                                class="label label-primary pull-right">{{ mensajesProductos_Reclamacion|length }}</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Email de {{ request.session.tipo_mensaje|upper }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="mailbox-read-info">
                <h3>{{mensajeLectura.tipo_mensaje }}</h3>
                <h5>From: {{ mensajeLectura.cliente.email }}
                  <span class="mailbox-read-time pull-right">{{ mensajeLectura.fecha }}</span></h5>
              </div>
              <!-- /.mailbox-read-info -->
              <!-- /.mailbox-controls -->
              <div class="mailbox-read-message">
                {{ mensajeLectura.mensaje|safe }}
              </div>
              <!-- /.mailbox-read-message -->
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->
            <div class="box-footer">
              <div class="pull-right">
                <a href="{% url 'mailbox_responder' mensajeLectura.id %}" class="btn btn-default"><i class="fa fa-reply"></i> Responder</a>
              </div>
              <a href="{% url 'mail_delete' mensajeLectura.id mensajeLecturaProducto.id %}" class="btn btn-default"><i class="fa fa-trash-o"></i> Eliminar</a>
              <button type="button" class="btn btn-default"><i class="fa fa-print"></i> Imprimir</button>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
        <!-- /.control-sidebar-menu -->
<!-- Main Footer -->
    {% include 'supermercado/administracion/general/footer.html' %}

    <!-- Control Sidebar -->
    {% include 'supermercado/administracion/general/menu_derecho.html' %}
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

{% include 'supermercado/administracion/general/required_js.html' %}