<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header"></li>
            <!-- Optionally, you can add icons to the links -->
            <li class="menu-open">
                <a href="#"><i class="fa fa-simplybuilt"></i> <span>Supermercado</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu" style="display:block">
                    <li><a href="{% url 'categorias' %}">Categorias</a></li>
                    <li><a href="{% url 'productos' %}">Productos</a></li>
                </ul>
            </li>
            <li class="menu-open">
                <a href="#"><i class="fa fa-user-plus"></i> <span>Clientes</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu" style="display:block">
                    <li><a href="{% url 'clientes' %}">Clientes</a></li>
                    <li><a href="{% url 'tarjetas' %}">Tarjetas de Socio</a></li>
                </ul>
            </li>
            <li class="menu-open">
                <a href="#"><i class="fa fa-shopping-cart"></i> <span>Compras</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu" style="display:block">
                    <li><a href="{% url 'carritos' %}">Carritos de clientes</a></li>
                    <li><a href="{% url 'facturas' %}">Facturas</a></li>
                </ul>
            </li>
            <li class="menu-open">
                <a href="#"><i class="fa fa-globe"></i> <span>Parte Publica</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu" style="display:block">
                    <li><a href="{% url 'opiniones' %}">Opiniones en productos</a></li>
                    <li><a href="{% url 'mailbox' %}">Duda, Sugerencia, Reclamaciones</a></li>
                </ul>
            </li>
            <li class="menu-open">
                <a href="#"><i class="fa fa-male"></i> <span>Usuarios</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu" style="display:block">
                    <li><a href="{% url 'usuarios' %}">Usuarios del sistema</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>