{% load static %}
{% include 'supermercado/administracion/general/head.html' %}
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    <!-- Main Header -->
    {% include 'supermercado/administracion/general/header.html' %}
    <!-- Left side column. contains the logo and sidebar -->
    {% include 'supermercado/administracion/general/menu_izquierdo.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Carritos de compras de cliente
                <small>Administración carritos de compra</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">

            <!--------------------------
              | Boton alta, listado de productos, visualizar producto (editar producto), eliminar producto|
              -------------------------->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <a href="{% url 'carrito_alta' %}" class="box-title btn btn-success">Nuevo carrito</a>
                        </div>
                    <br>
                        <div id='estadoError'></div>
                        {% if messages %}
                            {% for message in messages %}

                                {% if message.tags == "error" %}
                                    <div id="tag_message" class="alert alert-error" role="alert">
                                        {{ message }}
                                    </div>
                                {% else %}
                                    <div id="tag_message" class="alert alert-success" role="alert">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>#</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Confirmacion</th>
                                    <th>Cliente
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                {% for elemento in tabla %}
                                    {% if elemento.fecha_confirmacion is not none %}
                                        <tr class="bg-blue">
                                            {% else %}
                                        <tr class="bg-warning">
                                    {% endif %}
                                <td>{{ elemento.id }}</td>
                                <td>{{ elemento.fecha_inicio| date:'d/m/Y' }}
                                    - {{ elemento.fecha_inicio|time:"H:i:s" }}</td>
                                <td>{{ elemento.fecha_confirmacion| date:'d/m/Y' }}
                                    - {{ elemento.fecha_confirmacion|time:"H:i:s" }}</td>
                                <td>{{ elemento.cliente.dni }}
                                    - {{ elemento.cliente.nombre }} {{ elemento.cliente.apellidos }}</td>
                                <td>{{ elemento.saldo_actual }}</td>
                                {% if elemento.fecha_confirmacion is not none %}
                                    <td><a href="{% url 'carrito_producto' elemento.id %}"><span style="color:white"
                                                                                                 class="fa fa-eye"></span></a>
                                    </td>
                                    <td><a href="#"
                                           style="cursor: not-allowed;color:white;" data-toggle="tooltip"
                                           title="¡Carrito confirmado!"><span
                                            class="fa fa-edit"></span></a></td>
                                    <td><a href="#"><span id="{{ elemento.id }}" class="fa fa-wpforms" style="cursor: not-allowed;color:white;" data-toggle="tooltip"
                                           title="¡Factura Generada!"></span></a>
                                    </td>
                                    <td><a href="#"><span style="color:white" id="{{ elemento.id }}"
                                                          class="fa fa-trash-o"></span></a>
                                    </td>
                                {% else %}
                                    <td><a href="{% url 'carrito_producto' elemento.id %}"><span
                                            class="fa fa-eye"></span></a></td>
                                    <td><a href="{% url 'carrito_editar' elemento.id %}"><span
                                            class="fa fa-edit"></span></a></td>
                                    <td><a href="{% url 'carrito_confirmar' elemento.id %}"><span
                                            class="fa fa-check"></span></a></td>
                                    <td><a href="#"><span id="{{ elemento.id }}" class="fa fa-trash-o"></span></a>
                                    </td>
                                {% endif %}
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("span.fa.fa-trash-o").click(function () {
                if (confirm("¿Eliminar Carrito?")) {
                    var element = $(this);
                    $.ajax({
                        url: "/delete_carrito/",
                        data: {'id_carrito': element.attr("id")},
                        dataType: 'json',
                        success: function (data) {
                            if (data.estado == "error") {
                                var capa = document.getElementById('estadoError');
                                capa.className = "alert alert-error";
                                capa.innerText = data.mensaje;
                                document.getElementById("tag_message").remove();
                            } else {
                                element.parent().parent().parent().remove();
                                var capa = document.getElementById('estadoError');
                                capa.className = "alert alert-success";
                                capa.innerText = data.mensaje;
                                document.getElementById("tag_message").remove();
                                element.parent().parent().parent().remove();
                            }
                        }
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <!-- Main Footer -->
    {% include 'supermercado/administracion/general/footer.html' %}

    <!-- Control Sidebar -->
    {% include 'supermercado/administracion/general/menu_derecho.html' %}
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

{% include 'supermercado/administracion/general/required_js.html' %}