{% load static %}
{% load widget_tweaks %}
{% load static %}
{% include 'supermercado/administracion/general/head.html' %}
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    {% include 'supermercado/administracion/general/header.html' %}
    <!-- Left side column. contains the logo and sidebar -->
    {% include 'supermercado/administracion/general/menu_izquierdo.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Categorias
                <small>Administración categorias</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            <div class="box box-success">
                <form action="{% url 'edit_categoria' categoria.id %}" method="post">
                    {% csrf_token %}
                    <div class="box-header with-border">
                        <h3 class="box-title">Editar Categoria</h3>
                        <a href="{% url 'categorias' %}" class="btn btn-primary"
                           style="float: right;margin-right: 20px;margin-left: 20px">Volver atras</a>
                        <button type="reset" class="btn btn-warning" style="float: right">Limpiar datos</button>
                        <button type="submit" class="btn btn-success" style="float: right;margin-right: 20px">Editar
                            Categoria
                        </button>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>{{ form.nombre.label }}</label>
                                {% render_field form.nombre class="form-control" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>{{ form.observaciones.label }}</label>
                                {% render_field form.observaciones class="form-control" %}
                            </div>
                            {% if form.errors %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        {{ form.errors }}
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                </form>
            </div>
            <!-- /.box-body -->
    </div>
    <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Main Footer -->
{% include 'supermercado/administracion/general/footer.html' %}

<!-- Control Sidebar -->
{% include 'supermercado/administracion/general/menu_derecho.html' %}
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

{% include 'supermercado/administracion/general/required_js.html' %}