{% load static %}
{% include 'supermercado/administracion/general/head.html' %}
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    {% include 'supermercado/administracion/general/header.html' %}
    <!-- Left side column. contains the logo and sidebar -->
    {% include 'supermercado/administracion/general/menu_izquierdo.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Clientes
                <small>Administración clientes</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">

            <!--------------------------
              | Boton alta, listado de productos, visualizar producto (editar producto), eliminar producto|
              -------------------------->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <a href="{% url 'clientes_alta' %}" class="box-title btn btn-success">Nuevo Cliente</a>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>DNI</th>
                                    <th>Nombre</th>
                                    <th>Telefono 1</th>
                                    <th>Telefono 2</th>
                                    <th>Email</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                {% for elemento in tabla %}
                                    <tr>
                                        <td>{{ elemento.dni }}</td>
                                        <td>{{ elemento.nombre }} {{ elemento.apellidos }}</td>
                                        <td>{{ elemento.telefono1 }}</td>
                                        <td>{{ elemento.telefono2 }}</td>
                                        <td>{{ elemento.email }}</td>

                                        <td><a href="{% url 'clientes_editar' elemento.user.id %}"><span
                                                class="fa fa-edit"></span></a>
                                        <td><a href="#"><span id="{{ elemento.id }}" class="fa fa-trash-o"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("span.fa.fa-trash-o").click(function () {
                if (confirm("¿Eliminar Cliente?")) {
                    var element = $(this);
                    $.ajax({
                        url: "/delete_cliente/" + element.attr("id"),
                        dataType: 'json',
                        success: function () {
                            element.parent().parent().parent().remove();
                        }
                    });
                }
            });
        });
    </script>
    <!-- Main Footer -->
    {% include 'supermercado/administracion/general/footer.html' %}

    <!-- Control Sidebar -->
    {% include 'supermercado/administracion/general/menu_derecho.html' %}
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

{% include 'supermercado/administracion/general/required_js.html' %}