{% load static %}
{% include 'supermercado/administracion/general/head.html' %}
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    <!-- Main Header -->
    {% include 'supermercado/administracion/general/header.html' %}
    <!-- Left side column. contains the logo and sidebar -->
    {% include 'supermercado/administracion/general/menu_izquierdo.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Facturas de compras de clientes
                <small>Administración facturas de compra</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">

            <!--------------------------
              | Boton alta, listado de productos, visualizar producto (editar producto), eliminar producto|
              -------------------------->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control pull-right"
                                           placeholder="Search">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <br>
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-error" role="alert">
                                        {{ message }}
                                    </div>
                                {% else %}
                                    <div class="alert alert-success" role="alert">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>#</th>
                                    <th>Fecha</th>
                                    <th>Cliente</th>
                                    <th>Importe Total</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                {% for elemento in tabla %}
                                    <tr>
                                        <td>{{ elemento.codigo }}</td>
                                        <td>{{ elemento.fecha| date:'d/m/Y' }}
                                            - {{ elemento.fecha|time:"H:i:s" }}</td>
                                        <td>{{ elemento.cli_dni }}
                                            | {{ elemento.cli_nombre }} {{ elemento.cli_apellidos }}</td>
                                        <td>{{ elemento.importe_total|floatformat:2  }}</td>
                                        <td><a href="{% url 'factura_detalle' elemento.id %}"><span
                                                class="fa fa-eye"></span></a></td>
                                    <td><a href="{% url 'facturaPDF' elemento.id %}"><span
                                                class="fa fa-save"></span></a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>

                        <!-- /.box-body -->
                    </div>
                {% if tabla|length == 0 %}
                                <span class="alert alert-warning col-lg-12 text-center">Actualmente no hay facturas generadas</span>
                            {% endif %}
                    <!-- /.box -->
                </div>
            </div>
        </section>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <!-- Main Footer -->
    {% include 'supermercado/administracion/general/footer.html' %}

    <!-- Control Sidebar -->
    {% include 'supermercado/administracion/general/menu_derecho.html' %}
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

{% include 'supermercado/administracion/general/required_js.html' %}