<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSOP</title>
</head>
<body>
<h1>SSOP</h1>
<a href="{% url 'user_registration' %}">User registration</a>
<br/>
<a href="{% url 'company_registration' %}">Company registration</a>
<br/>
<div>
    <div>
        <form action="{% url 'send_sms' %}" method="post">
            {% csrf_token %}
            <p>Introduce tu número de teléfono</p>
            <input id="number" name="number" type="text" required>
            <input type="submit">
        </form>
    </div>
    <div>
        <p>Código enviado al telefono</p>
        <div id="phone-code-keyboard"></div>
        <br>
        <input id="phone-code-value" type="number" readonly required>
        <br>
        {{ code }}
    </div>
    <div>
        <p>Introduce tu pin</p>
        <div id="user-pin-keyboard"></div>
        <br>
        <input id="user-pin-value" type="number" readonly required>
        <br>
    </div>
</div>
</body>

<script>
        //It is executed once the webpage is loaded
        onload(loadKeyboards());

        //It loads all the page's keyboards
        function loadKeyboards() {
            createKeyboard(document.getElementById("user-pin-keyboard"), 1);
            createKeyboard(document.getElementById("phone-code-keyboard"), 2)
        }

        //It creates a keyboard in the specified DOM
        function createKeyboard (keyboard, valueField) {
           var numbers = [];
            var randomNumbers = [];
            //numbers vector is orderly filled with values from 0 to 9
            for(var i = 0; i <= 9; i++) {
                numbers[i] = i;
            }
            //This loop is executed as long as there are numbers to fill the randomly ordered vector
            while(true) {
                var number = parseInt(Math.random() * 9);
                var contained = false;
                //Once all numbers have been inserted, it breaks
                if(randomNumbers.length == 9) {
                    break;
                }
                //It checks if the randomly generated number is contained within the other vector or not
                for (var i = 0; i < randomNumbers.length; i++) {
                        if(randomNumbers[i] == number) {
                            contained = true;
                        }
                }
                //If the first vector doesn't contain the randomly generated number, it is added
                if(!contained) {
                    randomNumbers.push(number);
                }
            }
            //It goes along the whole of the randomNumbers array to create buttons with its values
            for(var i = 0; i < randomNumbers.length; i++) {
                if(valueField == 1) {
                    keyboard.innerHTML = keyboard.innerHTML + "<button onclick='addPinKeyboardValue(" + randomNumbers[i] + ")'>" +
                        randomNumbers[i] +
                        "</button>";
                } else if(valueField == 2) {
                    keyboard.innerHTML = keyboard.innerHTML + "<button onclick='addPhoneKeyboardValue(" + randomNumbers[i] + ")'>" +
                        randomNumbers[i] +
                        "</button>";
                }
                //It defines leap between on line and the other every 3 buttons
                if(i == 2 || i == 5 || i == 8) {
                    keyboard.innerHTML = keyboard.innerHTML + "<br>";
                }
            }
        }

        //It adds a value to the pin value field
        function addPinKeyboardValue(value) {
            var field = document.getElementById("user-pin-value");
            field.value += value;
        }

        //It adds a value to the phone code field
        function addPhoneKeyboardValue(value) {
            var field = document.getElementById("phone-code-value");
            field.value += value;
        }
    </script>
</html>