{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "blog/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "blog/css/jumbotron.css" %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Sistema de votación segura ofrecida por SSOP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-1" style="text-align: center">Cybervotación</h1>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <h2>Cyberwatcher</h2>
                <h4>SSOP</h4>
                <h6>01-12-2018</h6>
                <img src="{% static "blog/img/cybercamp.jpg" %}" alt="" style="height: 200px; width: 200px;">
                <button class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 40px;">Votar</button>
              </div>
              <div class="col-md-4">
                <h2>UVaNoobs</h2>
                <h4>BlueFingerprint</h4>
                <h6>01-12-2018</h6>
                <img src="{% static "blog/img/cybercamp.jpg" %}" alt="" style="height: 200px; width: 200px;">
                  <button class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 40px;">Votar</button>
              </div>
              <div class="col-md-4">
                <h2>Raul14</h2>
                <h4>ABLEx</h4>
                <h6>01-12-2018</h6>
                <img src="{% static "blog/img/cybercamp.jpg" %}" alt="" style="height: 200px; width: 200px;">
                  <button class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 40px;">Votar</button>
              </div>
              <div class="col-md-4">
                <h2>zebenet</h2>
                <h4>SmartDDoSFilter</h4>
                <h6>01-12-2018</h6>
                <img src="{% static "blog/img/cybercamp.jpg" %}" alt="" style="height: 200px; width: 200px;">
                <button class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 40px;">Votar</button>
              </div>
              <div class="col-md-4">
                <h2>IoT-Vigilant</h2>
                <h4>iotvigilant-cybercamp-2018</h4>
                <h6>01-12-2018</h6>
                <img src="{% static "blog/img/cybercamp.jpg" %}" alt="" style="height: 200px; width: 200px;">
                <button class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 40px;">Votar</button>
            </div>
            <div class="col-md-4">
                <h2>assap-org</h2>
                <h4>assap</h4>
                <h6>01-12-2018</h6>
                <img src="{% static "blog/img/cybercamp.jpg" %}" alt="" style="height: 200px; width: 200px;">
                <button class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 40px;">Votar</button>
            </div>
            <div class="col-md-4">
                <h2>cybercamp18isecurity</h2>
                <h4>iSecurity</h4>
                <h6>01-12-2018</h6>
                <img src="{% static "blog/img/cybercamp.jpg" %}" alt="" style="height: 200px; width: 200px;">
                <button class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 40px;">Votar</button>
            </div>
            <div class="col-md-4">
                <h2>lolcathost</h2>
                <h4>enitsda</h4>
                <h6>01-12-2018</h6>
                <img src="{% static "blog/img/cybercamp.jpg" %}" alt="" style="height: 200px; width: 200px;">
                <button class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 40px;">Votar</button>
            </div>
            <div class="col-md-4">
                <h2>T1GR3S</h2>
                <h4>airo-Heat</h4>
                <h6>01-12-2018</h6>
                <img src="{% static "blog/img/cybercamp.jpg" %}" alt="" style="height: 200px; width: 200px;">
                <button class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 40px;">Votar</button>
            </div>
            <div class="col-md-4">
                <h2>vrandkode</h2>
                <h4>stuk</h4>
                <h6>01-12-2018</h6>
                <img src="{% static "blog/img/cybercamp.jpg" %}" alt="" style="height: 200px; width: 200px;">
                <button class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 40px;">Votar</button>
            </div>
            <div class="col-md-4">
                <h2>s3curitybug</h2>
                <h4>guardedbox</h4>
                <h6>01-12-2018</h6>
                <img src="{% static "blog/img/cybercamp.jpg" %}" alt="" style="height: 200px; width: 200px;">
                <button class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 40px;">Votar</button>
            </div>
            <div class="col-md-4">
                <h2>zionsSpartans</h2>
                <h4>wall-do-hackathon</h4>
                <h6>01-12-2018</h6>
                <img src="{% static "blog/img/cybercamp.jpg" %}" alt="" style="height: 200px; width: 200px;">
                <button class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 40px;">Votar</button>
            </div>
            <div class="col-md-4">
                <h2>DarkAnHell</h2>
                <h4>FastPhish</h4>
                <h6>01-12-2018</h6>
                <img src="{% static "blog/img/cybercamp.jpg" %}" alt="" style="height: 200px; width: 200px;">
                <button class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 40px;">Votar</button>
            </div>
            <div class="col-md-4">
                <h2>onticsoluciones</h2>
                <h4>iuris</h4>
                <h6>01-12-2018</h6>
                <img src="{% static "blog/img/cybercamp.jpg" %}" alt="" style="height: 200px; width: 200px;">
                <button class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 40px;">Votar</button>
            </div>
            </div>
          </div>
        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; Company 2017</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
