{% load static %}
<!-- Head bar-->
{% include 'supermercado/public/general/head.html' %}
<!-- Head end-->
<body>
<div id="all">
    <!-- Top bar-->
    {% include 'supermercado/public/general/topbar.html' %}
    <!-- Top bar end-->

    <!-- Navbar -->
    {% include 'supermercado/public/general/navbar.html' %}
    <!-- Navbar End-->
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">Carro de la compra</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'cli_tienda' %}">Tienda</a></li>
                        <li class="breadcrumb-item active">Shopping Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row bar">
                <div class="col-lg-12">
                    {% if carrito|length == 1 %}
                        <p class="text-muted lead">Actualmente tienes {{ carrito|length }} elemento en tu carrito de
                            compra.</p>
                    {% elif carrito|length == 0 %}
                        <p class="text-muted lead">Actualmente tienes {{ carrito|length }} elementos en tu carrito de
                            compra.&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'cli_tienda' %}"
                                                              class="btn btn-outline-secondary"><i
                                    class="fa fa-chevron-left"></i> Continua comprando</a></p>
                    {% else %}
                        <p class="text-muted lead">Actualmente tienes {{ carrito|length }} elementos en tu carrito de
                            compra.</p>
                    {% endif %}
                    {% if messages %}
                        {% for message in messages %}
                            <br>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-error" role="alert">
                                    {{ message }}
                                </div>
                            {% else %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                {% if carrito|length != 0 %}
                    <div id="basket" class="col-lg-9">
                    <div class="box mt-0 pb-0 no-horizontal-padding">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th colspan="2">Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th></th>
                                    <th colspan="2">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for producto in carrito %}
                                    <tr>
                                        <td><a href="{% url 'cli_producto_detalle' producto.producto.id %}"><img
                                                src="

                                                        {% static 'supermercado/img/' %}{{ producto.producto.imagen }}"
                                                alt={{ producto.producto.nombre }} class="img-fluid"></a></td>
                                        <td>
                                            <a href="{% url 'cli_producto_detalle' producto.producto.id %}">{{ producto.producto.nombre }}</a>
                                        </td>
                                        <td>
                                            <form action="{% url 'cli_producto_carrito_update' producto.id producto.carrito.id %}"
                                                  method="post">
                                                {% csrf_token %}
                                                <div class="input-group">
                                                    <input type="number" name="cantidad" min="1"
                                                           value="{{ producto.cantidad }}"
                                                           class="input-append text-center"><span
                                                        class="input-group-addon"></span>&nbsp;&nbsp;&nbsp;
                                                    <button type="submit" class="fa fa-refresh"
                                                    ></button>
                                                </div>
                                            </form>
                                        </td>
                                        {% if tarjeta and producto.producto.pvp_socio != 0 %}
                                            <td>{{ producto.producto.pvp_socio|floatformat:2 }} €</td>
                                        {% elif tarjeta and producto.producto.pvp_socio == 0 %}
                                            <td>{{ producto.producto.pvp|floatformat:2 }} €</td>
                                        {% endif %}
                                        <td></td>
                                        <td>{{ producto.importe_total|floatformat:2 }} €</td>
                                        <td>
                                            <a href="{% url 'cli_producto_carrito_delete' producto.id %}"><span
                                                    class="fa fa-trash-o"></span></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th colspan="5">Total</th>
                                    <th colspan="2">{{ sumatotal|floatformat:2 }} €</th>
                                </tr>
                                <form action="{% url 'cli_procederCompra' %}" method="post">
                                {% csrf_token %}
                                    {% if tarjeta and tarjeta.saldo_actual > 0 %}
                                        <tr>
                                            <td colspan="5">Tienes un saldo acumulado de {{ tarjeta.saldo_actual|floatformat:2 }} en tu tarjeta socio.
                                                <br>¿Quieres
                                                usar tu tarjeta socio para descontar en tu compra?
                                            </td>
                                            <td colspan="2"><select name="descontar" class="form-control">
                                                <option value="1">Si</option>
                                                <option value="0">No</option>
                                            </select></td>
                                        </tr>
                                        {% else %}
                                        <input type="hidden" name="descontar" value="0">
                                    {% endif %}
                                </tfoot>
                            </table>
                        </div>
                        <div class="box-footer d-flex justify-content-between align-items-center">
                            <div class="left-col"><a href="{%  url 'cli_tienda' %}"class="btn btn-secondary mt-0"><i
                                    class="fa fa-chevron-left"></i> Continua comprando</a></div>
                            <div class="right-col">
                                <button type="submit" class="btn btn-template-outlined">Proceder al
                                    pago <i
                                            class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                        </form>
                    </div>

                {% endif %}
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="box text-uppercase mt-0 mb-2 text-center">
                            <h3>Quiza te interese algunos de estos productos</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for producto in productosInteres %}
                        <div class="col-lg-4 col-md-6">
                            <div class="product">
                                <div class="image"><a href="{% url 'cli_producto_detalle' producto.id %}"><img
                                        src="{% static 'supermercado/img/' %}{{ producto.imagen }}" alt=""
                                        class="img-fluid image1"></a>
                                </div>
                                <div class="text">
                                    <h3 class="h5"><a
                                            href="{% url 'cli_producto_detalle' producto.id %}">{{ producto.nombre }}</a>
                                    </h3>
                                    <p class="price text-justify"><i class="fa fa-users"></i> Precio: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ producto.pvp|floatformat:2 }}
                                        €</p>
                                    {% if producto.pvp_socio != 0 %}
                                        <p class="price text-justify" style="color: mediumvioletred;"><i
                                                class="fa fa-id-card"
                                                style="color: mediumvioletred;"></i>
                                            Precio Socio: &nbsp;&nbsp;&nbsp;{{ producto.pvp_socio|floatformat:2 }}
                                            €</p>
                                    {% else %}
                                        <p>&nbsp;</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                </div>
                {% if carrito|length != 0 %}
                    <div class="col-lg-3">
                        <div id="order-summary" class="box mt-0 mb-4 p-0">
                            <div class="box-header mt-0 text-center">
                                <h3>Resumen de tu compra</h3>
                            </div>
                            <p class="text-muted text-justify">Los precios de los productos variaran en funcion del
                                producto y también si tienes tarjeta
                                socio.</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Order subtotal</td>
                                        <th>{{ sumatotal|floatformat:2 }} €</th>
                                    </tr>
                                    <tr>
                                        <td>IVA</td>
                                        <th>{{ tasa|floatformat:2 }} %</th>
                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>{{ totalCompra|floatformat:2 }} €</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% include 'supermercado/public/general/footer.html' %}