{% load static %}
<!-- Head bar-->
{% include 'supermercado/public/general/head.html' %}
<!-- Head end-->
<body>
<div id="all">
    <!-- Top bar-->
    {% include 'supermercado/public/general/topbar.html' %}
    <!-- Top bar end-->

    <!-- Navbar -->
    {% include 'supermercado/public/general/navbar.html' %}
    <!-- Navbar End-->

    <div id="content">
        <div class="container">
            <div id="error-page" class="col-md-8 mx-auto text-center">
                <div class="box">
                    <p class="text-center"><a href="{% url 'index' %}"><img
                            src="{% static 'supermercado/img/public/supermercado/family.jpg' %}" style="width: 200px"
                            alt="Gracias"></a></p>
                    <h3>Tu compra ha sido aceptada con éxito</h3>
                    <h4 class="text-muted">¡Hemos empezado a preparar tu compra! En breve la recibiras en casa</h4>
                    <h5 class="text-muted">Puedes descargarte tu factura ahora o desde tu historial de facturas</h5>
                    <a href="{% url 'facturaPDF' id_factura%}" class="btn btn-info">Descargar Factura</a>
                    <p class="buttons"><a href="{% url 'index' %}" class="btn btn-template-outlined"><i
                            class="fa fa-home"></i> Ir a Inicio</a></p>
                </div>
            </div>
        </div>
    </div>

{% include 'supermercado/public/general/footer.html' %}