{% load static %}
<!-- Head bar-->
{% include 'supermercado/public/general/head.html' %}
<!-- Head end-->
<body>
<div id="all">
    <!-- Top bar-->
    {% include 'supermercado/public/general/topbar.html' %}
    <!-- Top bar end-->

    <!-- Navbar -->
    {% include 'supermercado/public/general/navbar.html' %}
    <!-- Navbar End-->

    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">Supermercado Evian</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item"><a href="{% url 'cli_tienda' %}">Tienda</a></li>
                        {% if categoriaEscogida %}
                            <li class="breadcrumb-item active">{{ categoriaEscogida.nombre }}</li>
                        {% else %}
                            <li class="breadcrumb-item active">Productos</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row bar">
                <div class="col-md-3">
                    <!-- MENUS AND FILTERS-->
                    <div class="panel panel-default sidebar-menu">
                        <div class="panel-heading">
                            <h3 class="h4 panel-title">Buscador</h3>
                        </div>
                        <div class="panel-body">
                            <input type="text" name="serie" id="producto" class="form-control" placeholder="Producto"  style="overflow: auto"
                                   size="20">
                        </div>
                        <br>
                        <div class="panel-heading">
                            <h3 class="h4 panel-title">Categorias</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills flex-column text-sm category-menu">
                                {% for categoria in categorias %}
                                    <li class="nav-item"><a href="{% url 'cli_tienda_categoria' categoria.id %}"
                                                            class="nav-link d-flex align-items-center justify-content-between"><span>{{ categoria.nombre }} </span></a>

                                        <ul class="nav nav-pills flex-column">
                                            {% for producto in productos %}
                                                {% if producto.categoria.id == categoria.id and producto.stock > 0 %}
                                                    <li class="nav-item"><a
                                                            href="{% url 'cli_producto_detalle' producto.id %}"
                                                            class="nav-link">{{ producto.nombre }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="banner"><a href="#"><img
                            src="{% static 'supermercado/img/public/banners/cyber-monday2.jpg' %}"
                            alt="sales 2014" class="img-fluid"></a></div>
                </div>
                <div class="col-md-9">
                    <p class="text-muted lead">En nuestro supermercado encontraras productos de calidad y frescor.</p>
                    <div class="row products products-big">
                        {% if productosCategoria is None %}
                            {% for producto in productosPaginar %}
                                {% if producto.stock > 0 %}
                                    <div class="col-lg-4 col-md-6">
                                        <div class="product">
                                            <div class="image"><a
                                                    href="{% url 'cli_producto_detalle' producto.id %}"><img
                                                    src="{% static 'supermercado/img/' %}{{ producto.imagen }}" alt=""
                                                    class="img-fluid image1"></a></div>
                                            <div class="text">
                                                <h3 class="h5"><a
                                                        href="{% url 'cli_producto_detalle' producto.id %}">{{ producto.descripcion_corta }}</a>
                                                </h3>
                                                <p class="price text-justify"><span class="text-muted"><i
                                                        class="fa fa-users"></i> Precio:</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ producto.pvp|floatformat:2 }}
                                                    €
                                                </p>
                                                {% if producto.pvp_socio != 0 %}
                                                    <p class="price text-justify"><span
                                                            class="text-muted" style="color: mediumvioletred"><i
                                                            class="fa fa-id-card"
                                                            style="color: mediumvioletred;"></i> Precio socio:</span> {{ producto.pvp_socio|floatformat:2 }}
                                                        €</p>
                                                {% else %}
                                                    <p>&nbsp;</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for producto in productosPaginar %}
                                <div class="col-lg-4 col-md-6">
                                    <div class="product">
                                        <div class="image"><a href="{% url 'cli_producto_detalle' producto.id %}"><img
                                                src="{% static 'supermercado/img/' %}{{ producto.imagen }}" alt=""
                                                class="img-fluid image1"></a></div>
                                        <div class="text">
                                            <h3 class="h5"><a
                                                    href="{% url 'cli_producto_detalle' producto.id %}">{{ producto.descripcion_corta }}</a>
                                            </h3>
                                            <p class="price text-justify"><span
                                                    class="text-muted"><i
                                                    class="fa fa-users"></i> Precio:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ producto.pvp|floatformat:2 }}
                                                €</p>
                                            {% if producto.pvp_socio != 0 %}
                                                <p class="price text-justify"><span style="color:mediumvioletred;"><i
                                                        class="fa fa-id-card"
                                                        style="color: mediumvioletred;"></i> Precio socio:</span> {{ producto.pvp_socio|floatformat:2 }}
                                                    €
                                                </p>
                                            {% else %}
                                                <p>&nbsp;</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="pages">
                        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                            <ul class="pagination">
                                {% if productosPaginar.has_previous %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?pagina={{ productosPaginar.previous_page_number }}">Anterior</a>
                                    </li>
                                {% endif %}
                                {% if productosPaginar.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?pagina={{ productosPaginar.next_page_number }}">Siguiente</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12 banner mb-small"><a href="#"><img
                                src="{% static 'supermercado/img/public/banners/cyber-monday-banner.jpg' %}" alt=""
                                class="img-fluid"></a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        $('#producto').autocomplete({
            source: "{% url 'cli_tienda_buscar' %}",
            minLength: 2,
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li>")
                .append("<a href='/tienda-producto-detalle/"+item.ident+"'><div><h4 class='text-muted'>" + item.descripcion_corta + "</h4></div></a><br><a href='/tienda-producto-detalle/"+item.ident+"'><div><img src='{% static '/supermercado/img/'%}"+item.imagen+"' width='200px'></div></a><div><hr></div>")
                .appendTo(ul);
        };
    </script>
{% include 'supermercado/public/general/footer.html' %}